<p style="color: green"><%= notice %></p>

<table id="routines">
  <tr>
    <th><strong>Exercise description</strong></th>
    <th><strong>Exercise intensity</strong></th>
    <tr>
      <th colspan="3"><%= @routine.name %></th>
    </tr>
  </tr>
  <% @routine.exercises.each do |exercise| %>
    <tr>
      <td><%= exercise.description %></td>
      <td><%= exercise.intensity %></td>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to "Edit this routine", edit_routine_path(@routine) %> |
  <%= link_to "Back to routines", routines_path %>

  <%= button_to "Destroy this routine", @routine, method: :delete %>
</div>
