<p style="color: green"><%= notice %></p>

<table>
  <tr>
    <th><strong>Name</strong></th>
    <th><strong>Description</strong></th>
    <th><strong>Intensity</strong></th>
  </tr>
  <tr>
    <td><%= @exercise.name %></td>
    <td><%= @exercise.description %></td>
    <td><%= @exercise.intensity %></td>
  </tr>
</table>

<div>
  <%= link_to "Edit this exercise", edit_exercise_path(@exercise) %> |
  <%= link_to "Back to exercises", exercises_path %>

  <%= button_to "Destroy this exercise", @exercise, method: :delete %>
</div>
