<!DOCTYPE html>
<html>
  <head>
    <title>ExerciseSchedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice" style="color: green"><%= notice %></p>
    <p class="alert" style="color: red"><%= alert %></p>
    <% if user_signed_in? %>
      <a href="/exercises/new">Create Exercises</a>
      <a href="/routines/new">Create Routines</a>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <a href="/users/sign_in">Sign in</a>
    <% end %>
     <%= yield %>
  </body>
</html>
